body {
    color: #000066;
    background-color: #99ccff;
}
a {
    color: #000000;
}
h1, h2, h3 {
    color: #2e2e2e;
}
nav {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #FFFFFF;
}
nav a {
color: #120748;
}
nav a:hover {
    background-color: #a5a5a5;
}
.float {float: right;}
.clear {clear: both;}

.row1, .row2 {display: flex; background-color: aliceblue; border-radius: 1em; margin: 10px;}
.row2 {
    margin-top: 40px;
    flex-wrap: wrap;
}
.form {flex: 2; order: 1;}
.map {flex:1; order: 2;}
.address, .links, .form, .map {padding: 20px;}
h1 {
    text-align: center;
}
.photoshop {
    text-align: center;
    padding: 15px;
}
.pslogo {
    width: 100px;
}
.htmlbox {
    text-align: center;
    padding: 15px;
}
.htmllogo {
    width: 100px;
}
.cybersecurity {
    text-align: center;
    padding: 15px;
}
.cyberlogo {
    width: 100px;
}
.unrealengine {
    text-align: center;
    padding: 15px;
}
.unreallogo {
    width: 100px;
}
.finalcutpro {
    text-align: center;
    padding: 15px;
}
.finallogo {
    width: 100px;
}

.flexx {
    display: flex;
    justify-content: space-evenly;
}
.iconbox {
    margin-left: 50px;
    display: flex;
    height: 200px;
    align-items: center;
}
.skills2 {
    margin-right: 50px;
    display: flex;

}
.otherskills {
    background-color: #999797;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 40px;
}
.text {
    display: flex;
    margin-left: 245px;
}
.bioimage {
    max-width: 100%;
}
@media only screen and (max-width: 600px) {
    nav a {display: block;}
    span {display: none;}
    }